@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
    --color-primary: rgb(212 175 55);
    --color-secondary: #d3c3b9;
    --color-accent: #a79e9c;
    --color-mainBg: #181818;
    --color-background: #3d4d55;
    --color-surface: #2b2b2b;
    --color-text-primary: #ffffff;
    --color-text-secondary: #d3c3b9;
    --color-highlight: #ffd700;
    --color-link: #10233a;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    font-family: 'Inter', Times, serif;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: var(--color-mainBg);
    color: #a79e9c;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', Times, serif;
}